$base-font-size: 16px;
$developer-color-primary: #f15c31;
$senior-developer-color-primary: #29beba;
$junior-develop-color-primary: #febd2d;

$color-primary: $senior-developer-color-primary;

$color-background: #efefef;;
$color-border: #d7dbde;
$color-font-base: #3d4451;
$color-font-light: #8f9299;
$shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

// ============================================================================
// Devices width
// ============================================================================
$low-mobile: 320px;
$mobile: 480px;
$tablet: 768px;
$small-desktop: 1024px;
$medium-desktop: 1280px;
$large-desktop: 1440px;
